body {
    background-color: rgb(243, 243, 243);
    font-family: sans-serif;
}
li {
    list-style-type: none;
}
.marks {
    height: 15px;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
    font-weight: 500;
}