.trans-block {
    position: absolute;
    color: rgb(79, 83, 96);
    box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.5);
    right: 84px;
    top: 935px;
    height: 500px;
    width: 840px;
    background-color: #fff;
}

.trans-header {
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 3px solid rgb(243, 243, 243);
}
.trans-body {
    display: grid;
    flex-direction: column;
}

.trans-map {
    width: 300px;
    height: 300px;
}

.trans-table-header {
    display: flex;
    justify-content: space-around;
}